<section id="basic-form-layouts">
  <div class="row text-left">
    <div class="col-sm-12">
      <div class="content-header">User List</div>
    </div>
  </div>
</section>

<div class="row">
  <div class="col-sm-12">
    <div class="card">
      <div class="card-header">
        <input type="text" style="padding:6px;margin:15px auto;width:30%;" placeholder="Type to filter the Name ..."
          (keyup)="updateFilter($event)" />
      </div>
      <div class="card-body">
        <div class="card-block">
          <ngx-datatable class="material" [columnMode]="'force'" [headerHeight]="50" [rowHeight]="60"
            [footerHeight]="50" [rows]="rows" [externalPaging]="true" [count]="page.totalElements"
            [offset]="page.pageNumber" [limit]="page.size" (page)="setPage($event)">
            <ngx-datatable-column name="ID" [width]="50">
              <ng-template let-rowIndex="rowIndex" let-row="row" ngx-datatable-cell-template>
                {{page.pageNumber * 10 + rowIndex + 1}}
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Name">
              <ng-template let-row="row" ngx-datatable-cell-template>
                <a [routerLink]="['/user-management/user-detail/', row._id]">{{row.first_name}}
                  {{row.last_name}}</a>
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Username">]
              <ng-template let-row="row" ngx-datatable-cell-template>
                {{row.display_name}}
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Email">]
              <ng-template let-row="row" ngx-datatable-cell-template>
                {{row.email_address}}
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Joined">
              <ng-template let-row="row" ngx-datatable-cell-template>
                {{row.created_at | date: 'dd/MM/yyyy'}}
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Activated">
              <ng-template let-column="column" ngx-datatable-header-template>
                Blocked/Unblocked
              </ng-template>
              <ng-template let-rowIndex="rowIndex" let-row="row" ngx-datatable-cell-template>
                <span *ngIf="row.status=='active'" class="badge badge-pill badge-lg badge-success"
                  style="cursor: pointer;" (click)="onBlock(rowIndex)">Unblocked</span>
                <span *ngIf="row.status!='active'" class="badge badge-pill badge-lg badge-danger"
                  style="cursor: pointer;" (click)="onUnblock(rowIndex)">Blocked</span>
              </ng-template>
            </ngx-datatable-column>
          </ngx-datatable>
        </div>
      </div>
    </div>
  </div>
</div>