<section id="basic-form-layouts">
  <div class="row text-left">
    <div class="col-sm-12">
      <div class="content-header">User List</div>
    </div>
  </div>
</section>

<div class="row">
  <div class="col-sm-12">
    <div class="card">
      <div class="card-header">
        <input type="text" style="padding:6px;margin:15px auto;width:30%;" placeholder="Type to filter the Name ..."
          (keyup)="updateFilter($event)" />
      </div>
      <div class="card-body">
        <div class="card-block">
          <ngx-datatable class="material" [columns]="columns" [columnMode]="'force'" [headerHeight]="50"
            [rowHeight]="60" [footerHeight]="50" [limit]="10" [rows]="rows">
            <ngx-datatable-column name="ID" [width]="50">
              <ng-template let-rowIndex="rowIndex" let-row="row" ngx-datatable-cell-template>
                {{rowIndex + 1}}
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Name">
            </ngx-datatable-column>
            <ngx-datatable-column name="Username"></ngx-datatable-column>
            <ngx-datatable-column name="Joined"></ngx-datatable-column>
            <ngx-datatable-column name="Activated">
              <ng-template let-column="column" ngx-datatable-header-template>
                Blocked/Unblocked
              </ng-template>
              <ng-template let-rowIndex="rowIndex" let-value="value" ngx-datatable-cell-template>
                <span *ngIf="value" class="badge badge-pill badge-lg badge-success" style="cursor: pointer;"
                  (click)="onBlock(rowIndex)">Unblocked</span>
                <span *ngIf="!value" class="badge badge-pill badge-lg badge-danger" style="cursor: pointer;"
                  (click)="onUnblock(rowIndex)">Blocked</span>
              </ng-template>
            </ngx-datatable-column>
          </ngx-datatable>
        </div>
      </div>
    </div>
  </div>
</div>