<section id="basic-form-layouts">
	<div class="row text-left">
		<div class="col-sm-12">
			<div class="content-header">Update Role</div>
		</div>
	</div>
</section>
<div class="row">
	<div class="col-sm-12">
		<div class="card">
			<div class="card-body">
				<div class="card-block">
					<form class="form" [formGroup]="roleForm">
						<div class="form-body">
							<div class="row">
								<div class="col-md-3"></div>
								<div class="col-md-6">
									<div class="form-group">
										<label for="role">Role</label>
										<input type="text" class="form-control" formControlName="role">
									</div>
								</div>
								<div class="col-md-3"></div>
							</div>
						</div>
						<div class="form-actions right">
							<button type="button" class="btn btn-raised btn-warning mr-1" (click)="onCancel()">
								<i class="ft-x"></i> Cancel </button>
							<button type="button" class="btn btn-raised btn-primary" (click)="onUpdate()"> <i
									class="fa fa-check-square-o"></i> Update </button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>