<section id="basic-form-layouts">
	<div class="row text-left">
		<div class="col-sm-12">
			<div class="content-header">Threads List</div>
		</div>
	</div>
</section>
<div class="row">
	<div class="col-sm-12">
		<div class="card">
			<div class="card-header" style="display: flex;">
				<div ngbDropdown style="margin-top: 15px;">
					<button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>Threads Actions</button>
					<div ngbDropdownMenu aria-labelledby="dropdownBasic1">
						<button class="dropdown-item">Action 1</button>
						<button class="dropdown-item">Action 2</button>
						<button class="dropdown-item" (click)="onCombineThreads()">Combine</button>
						<button class="dropdown-item">Send push Notification</button>
					</div>
				</div>
				<input type="text" style="padding:5px;margin:15px 15px 15px 100px;width:30%;"
					placeholder="Type to filter the Title or Content ..." (keyup)="updateFilter($event)" />
				<button class="btn btn-raised btn-round btn-success" style="margin-top: 15px;" (click)="onFilter()">Search
					Threads</button>
			</div>
			<div class="card-body">
				<div class="card-block">
					<ngx-datatable class="material" [columnMode]="'force'" [headerHeight]="50" [rowHeight]="60"
						[footerHeight]="50" [limit]="10" [rows]="rows" [selected]="selected" [selectionType]="'checkbox'"
						(select)="onSelect($event)" [externalPaging]="true" [count]="page.totalElements" [offset]="page.pageNumber"
						[limit]="page.size" (page)="setPage($event)">
						<ngx-datatable-column [width]="30" [sortable]="false" [canAutoResize]="false" [draggable]="false"
							[resizeable]="false" [headerCheckboxable]="true" [checkboxable]="true">
						</ngx-datatable-column>
						<ngx-datatable-column name="ID" [width]="50">
							<ng-template let-rowIndex="rowIndex" let-row="row" ngx-datatable-cell-template>
								{{page.pageNumber * 10 + rowIndex + 1}}
							</ng-template>
						</ngx-datatable-column>
						<ngx-datatable-column name="Title" [width]="400">
							<ng-template let-row="row" ngx-datatable-cell-template>
								<a [routerLink]="['/forum-management/threads/', row._id]">{{row.title}}</a>
							</ng-template>
						</ngx-datatable-column>
						<ngx-datatable-column name="Category">
							<ng-template let-row="row" ngx-datatable-cell-template>
								{{row.categoryId.category}}
							</ng-template>
						</ngx-datatable-column>
						<ngx-datatable-column name="SubCategory">
							<ng-template let-row="row" ngx-datatable-cell-template>
								{{row.subcategoryId.subcategory}}
							</ng-template>
						</ngx-datatable-column>
						<ngx-datatable-column name="Author">
							<ng-template let-row="row" ngx-datatable-cell-template>
								{{row.createdBy.display_name}}
							</ng-template>
						</ngx-datatable-column>
						<ngx-datatable-column name="Posts">
							<ng-template let-row="row" ngx-datatable-cell-template>
								{{row.posts}}
							</ng-template>
						</ngx-datatable-column>
						<ngx-datatable-column name="Date">
							<ng-template let-row="row" ngx-datatable-cell-template>
								{{row.createdAt | date: 'dd/MM/yyyy'}}
							</ng-template>
						</ngx-datatable-column>
						<ngx-datatable-column name="Status">
							<ng-template let-row="row" ngx-datatable-cell-template>
								<span *ngIf="row.status=='active'" class="badge badge-pill badge-success"
									style="cursor: pointer; font-size: 100%;" (click)="onUpdateThreadStatus(row, 'active')">Online</span>
								<span *ngIf="row.status!='active'" class="badge badge-pill badge-danger"
									style="cursor: pointer; font-size: 100%;"
									(click)="onUpdateThreadStatus(row,'inactive')">Offline</span>
							</ng-template>
						</ngx-datatable-column>
					</ngx-datatable>
				</div>
			</div>
		</div>
	</div>
</div>