<section id="basic-form-layouts">
  <div class="row text-left">
    <div class="col-sm-12">
      <div class="content-header">Update Admin User</div>
    </div>
  </div>
</section>

<section id="user-profile">
  <div class="row">
    <div class="col-12">
      <div class="card profile-with-cover">
        <div class="media profil-cover-details row">
          <div class="col-5">
          </div>
          <div class="col-2">
            <div class="align-self-center halfway-fab text-center">
              <a class="profile-image">
                <img *ngIf="!avatar" src="/assets/img/portrait/medium/avatar-blank.png" class="rounded-circle"
                  width="150">
                <img *ngIf="avatar" src="{{avatar}}" class="rounded-circle img-border gradient-summer width-150"
                  alt="Card image">
              </a>
            </div>
          </div>
          <div class="col-5">
          </div>
        </div>
        <div class="profile-section">
          <div class="row">
            <div class="col-lg-5 col-md-5 ">
            </div>
            <div class="col-lg-2 col-md-2 text-center">
              <p class="font-small-5">{{name}}</p>
            </div>
            <div class="col-lg-5 col-md-5">
            </div>
          </div>
          <div class="row">
            <div class="col-lg-2 col-md-0"></div>
            <div class="col-lg-8 col-md-12">
              <div class="card-body">
                <div class="px-3">
                  <form class="form" [formGroup]="adminForm">
                    <div class="form-body">
                      <h4 class="form-section"><i class="ft-user"></i> Admin Infomation</h4>
                      <div class="row">
                        <div class="col-md-4">
                          <div class="form-group">
                            <label for="first_name">First Name</label>
                            <input type="text" class="form-control" formControlName="first_name">
                          </div>
                        </div>
                        <div class="col-md-4">
                          <div class="form-group">
                            <label for="middle_name">Middle Name</label>
                            <input type="text" class="form-control" formControlName="middle_name">
                          </div>
                        </div>
                        <div class="col-md-4">
                          <div class="form-group">
                            <label for="last_name">Last Name</label>
                            <input type="text" class="form-control" formControlName="last_name">
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-6">
                          <div class="form-group">
                            <label for="display_name">User Name</label>
                            <input type="text" class="form-control" formControlName="display_name">
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div class="form-group">
                            <label for="email_address">E-mail</label>
                            <input type="text" class="form-control" formControlName="email_address">
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-12">
                          <label for="role">Role</label>
                          <div ngbDropdown style="margin-top: 15px;">
                            <button class="btn btn-outline-primary" id="dropdownBasic1"
                              ngbDropdownToggle>{{selectedRoles}}</button>
                            <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                              <button *ngFor="let role of roles" class="dropdown-item"
                                (click)="onChangeRole(role)">{{role}}</button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="form-actions right">
                      <button type="button" class="btn btn-raised btn-warning mr-1" (click)="onCancel()">
                        <i class="ft-x"></i> Cancel </button>
                      <button type="submit" class="btn btn-raised btn-primary" (click)="onUpdate()"> <i
                          class="fa fa-check-square-o"></i>
                        Update </button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
            <div class="col-lg-2 col-md-0"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>