<section id="basic-form-layouts">
	<div class="row text-left">
		<div class="col-sm-12">
			<div class="content-header">News Details</div>
		</div>
	</div>
</section>
<section>
	<div class="row">
		<div class="col-sm-1"> </div>
		<div class="col-sm-10">
			<div *ngIf="newsInfo" class="card">
				<div class="card-header">
					<p class="mb-0">{{newsInfo.category_id.category_name}}</p>
				</div>
				<div class="card-body">
					<div class="card-block">
						<div class="row">
							<div class="col-lg-12 col-md-12">
								<div class="card-body">
									<div class="px-3">
										<form class="form" #f="ngForm">
											<div class="form-body">
												<h4 class="form-section"><i class="ft-file-text"></i>{{newsInfo.title}}</h4>
												<div class="row">
													<div class="col-md-2" style="text-align: center;">
														<a href="javascript:;">
															<img alt="user" class="rounded-circle" src="{{newsInfo.created_by}}" width="80">
														</a>
														<h6 class="mt10"> <a href="javascript:;">{{newsInfo.created_by}}</a> </h6>
														<div class="mb5">
															<i class="fa ft-thumbs-up" title="Like"></i> {{newsInfo.likes}}
															<i class="fa ft-thumbs-down" title="Dislike" style="margin-left: 10px;"></i>
															{{newsInfo.dislikes}}
															<i class="fa ft-eye" title="View" style="margin-left: 10px;"></i> {{newsInfo.view_count}}
															<i class="fa ft-share-2" title="Share" style="margin-left: 10px;"></i>
															{{newsInfo.share_count}}
														</div>
														<div>
															<small>Created: <span class="js_moment"
																	title="{{newsInfo.created_at | date: 'yyyy-MM-dd HH:mm:ss'}}">{{newsInfo.created_at | date: 'yyyy-MM-dd'}}</span>
															</small>
														</div>
													</div>
													<div class="col-md-10">
														<div class="form-group">
															<div class="mb-0" [innerHTML]="news_summary"></div>
															<div class="row">
																<div *ngFor="let media of newsInfo.news_media" class="col-md-6">
																	<img src="{{media.media_url}}" alt="" width="100%" />
																</div>
															</div>
															<div class="mb-0" [innerHTML]="news_content"></div>

														</div>
													</div>
												</div>
											</div>
											<div class="form-actions right">
												<button type="button" class="btn btn-raised btn-primary" (click)="onBack()">
													<i class="fa fa-check-square-o"></i> Back to News
												</button>
											</div>
										</form>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div *ngFor="let comment of newsComments" class="card">
				<div class="card-body">
					<div class="card-block" style="padding-top: 20px;">
						<div class="px-3">
							<form class="form" #f="ngForm">
								<div class="form-body">
									<div class="row">
										<div class="col-md-2" style="text-align: center;">
											<a href="javascript:;">
												<img _ngcontent-c7="" alt="user" class="rounded-circle"
													src="{{comment.created_by.profile_image.media_url}}" width="80">
											</a>
											<h6 class="mt10"> <a href="javascript:;">{{comment.created_by.display_name}}</a> </h6>
											<div>
												<small>Created: <span class="js_moment"
														title="{{comment.created_at | date: 'yyyy-MM-dd HH:mm:ss'}}">{{comment.created_at | date: 'yyyy-MM-dd'}}</span>
												</small>
											</div>
											<div class="mb5">
												<i class="fa ft-thumbs-up" title="Like"></i> {{comment.likes}}
												<i class="fa ft-thumbs-down" title="Dislike" style="margin-left: 10px;"></i>
												{{comment.dislikes}}
												<span *ngIf="comment.status=='online'" class="badge badge-pill badge-success"
													style="cursor: pointer; margin-left: 15px;"
													(click)="onUpdateCommentStatus('online')">Online</span>
												<span *ngIf="comment.status!='online'" class="badge badge-pill badge-danger"
													style="cursor: pointer; margin-left: 15px;"
													(click)="onUpdateCommentStatus('offline')">Offline</span>
											</div>
											<div class="mb5">
												<i class="fa ft-message-square" title="Replies"></i> {{comment.replies}}
												<span class="badge badge-pill badge-secondary" style="cursor: pointer;"
													(click)="onViewReplies(comment)">View Replies</span>
											</div>
										</div>
										<div class="col-md-10">
											<div class="form-group">
												<p class="mb-0">{{comment.comment_content}}</p>
											</div>
										</div>
									</div>
									<!-- Replies -->
									<div *ngIf="comment.viewReplies" style="border-top: 1px solid #d3dce9; margin-top: 10px;">
										<div *ngFor="let reply of comment.repliesData" class="row" style="margin-top: 15px;">
											<div class="col-md-1">
											</div>
											<div class="col-md-2" style="text-align: center;">
												<a href="javascript:;">
													<img _ngcontent-c7="" alt="user" class="rounded-circle"
														src="{{reply.created_by.profile_image.media_url}}" width="50">
												</a>
												<h6 class="mt10"> <a href="javascript:;">{{reply.created_by.display_name}}</a> </h6>
												<div>
													<small>Created: <span class="js_moment"
															title="{{reply.created_at | date: 'yyyy-MM-dd HH:mm:ss'}}">{{reply.created_at | date: 'yyyy-MM-dd'}}</span>
													</small>
												</div>
												<div class="mb5">
													<i class="fa ft-thumbs-up" title="Like"></i> {{reply.likes}}
													<i class="fa ft-thumbs-down" title="Dislike" style="margin-left: 10px;"></i>
													{{reply.dislikes}}
													<span *ngIf="reply.status=='online'" class="badge badge-pill badge-success"
														style="cursor: pointer; margin-left: 15px;"
														(click)="onUpdateCommentRepliesStatus('online')">Online</span>
													<span *ngIf="reply.status!='online'" class="badge badge-pill badge-danger"
														style="cursor: pointer; margin-left: 15px;"
														(click)="onUpdateCommentRepliesStatus('offline')">Offline</span>
												</div>
											</div>
											<div class="col-md-9">
												<div class="form-group">
													<p class="mb-0">{{reply.reply_content}}</p>
												</div>
											</div>
										</div>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-sm-1"> </div>
	</div>
</section>