<section id="basic-form-layouts">
	<div class="row text-left">
		<div class="col-sm-12">
			<div class="content-header">Threads Detail</div>
		</div>
	</div>
</section>
<section>
	<div class="row">
		<div class="col-sm-12">
			<div class="card">
				<div class="card-header">
				</div>
				<div class="card-body">
					<div class="card-block">
						<div class="row">
							<div class="col-lg-2 col-md-0"></div>
							<div class="col-lg-8 col-md-12">
								<div class="card-body">
									<div class="px-3">
										<form class="form" #f="ngForm">
											<div class="form-body">
												<h4 class="form-section"><i class="ft-aperture"></i> Categories Information</h4>
												<div class="row">
													<div class="col-md-12">
														<div class="form-group">
															<label for="categories">Categories</label>
															<p class="mb-0">Technology</p>
														</div>
													</div>
												</div>
												<div class="row">
													<div class="col-md-12">
														<div class="form-group">
															<label for="subcategories">SubCategories</label>
															<p class="mb-0">Technology Market </p>
														</div>
													</div>
												</div>
												<h4 class="form-section"><i class="ft-file-text"></i> Thread Content</h4>
												<div class="row">
													<div class="col-md-12">
														<div class="form-group">
															<label for="title">Thread Title</label>
															<p class="mb-0">what is the technology market?</p>
														</div>
													</div>
												</div>
												<div class="row">
													<div class="col-md-12">
														<div class="form-group">
															<label for="content">Thread Content</label>
															<p class="mb-0">Technology market is the market of Technology </p>
														</div>
													</div>
												</div>
											</div>
											<div class="form-actions right">
												<button type="button" class="btn btn-raised btn-primary" (click)="onBack()">
													<i class="fa fa-check-square-o"></i> Back to Threads
												</button>
											</div>
										</form>
									</div>
								</div>
							</div>
							<div class="col-lg-2 col-md-0"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>