<section id="basic-form-layouts">
	<div class="row text-left">
		<div class="col-sm-12">
			<div class="content-header">Threads Detail</div>
		</div>
	</div>
</section>
<section>
	<div class="row">
		<div class="col-sm-1"> </div>
		<div class="col-sm-10">
			<div *ngIf="threadInfo" class="card">
				<div class="card-header">
					<p class="mb-0">{{threadInfo.categoryId.category}} / {{threadInfo.subcategoryId.subcategory}}</p>
				</div>
				<div class="card-body">
					<div class="card-block">
						<div class="row">
							<div class="col-lg-12 col-md-12">
								<div class="card-body">
									<div class="px-3">
										<form class="form" #f="ngForm">
											<div class="form-body">
												<h4 class="form-section"><i class="ft-file-text"></i> {{threadInfo.title}}</h4>
												<div class="row">
													<div class="col-md-2" style="text-align: center;">
														<a href="javascript:;">
															<img alt="user" class="rounded-circle"
																src="{{threadInfo.createdBy.profile_image.media_url}}" width="80">
														</a>
														<h6 class="mt10"> <a href="javascript:;">{{threadInfo.createdBy.display_name}}</a> </h6>
														<div class="mb5">
															<i class="fa ft-heart" title="Like"></i> {{threadInfo.likes}}
															<i class="fa ft-eye" title="View" style="margin-left: 10px;"></i> {{threadInfo.views}}
														</div>
														<div>
															<small>Created: <span class="js_moment"
																	title="{{threadInfo.createdAt | date: 'yyyy-MM-dd HH:mm:ss'}}">{{threadInfo.createdAt | date: 'yyyy-MM-dd'}}</span>
															</small>
														</div>
													</div>
													<div class="col-md-10">
														<div class="form-group">
															<div class="row">
																<div *ngFor="let media of threadInfo.thread_media" class="col-md-3">
																	<img src="{{media.media_url}}" alt="" width="100%" />
																</div>
															</div>
															<p class="mb-0">
																{{threadInfo.content}}
															</p>
														</div>
													</div>
												</div>
											</div>
											<div class="form-actions right">
												<button type="button" class="btn btn-raised btn-primary" (click)="onBack()">
													<i class="fa fa-check-square-o"></i> Back to Threads
												</button>
											</div>
										</form>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div *ngFor="let post of threadPosts" class="card">
				<div class="card-body">
					<div class="card-block" style="padding-top: 20px;">
						<div class="px-3">
							<form class="form" #f="ngForm">
								<div class="form-body">
									<div class="row">
										<div class="col-md-2" style="text-align: center;">
											<a href="javascript:;">
												<img _ngcontent-c7="" alt="user" class="rounded-circle"
													src="{{post.createdBy.profile_image.media_url}}" width="80">
											</a>
											<h6 class="mt10"> <a href="javascript:;">{{post.createdBy.display_name}}</a> </h6>
											<div>
												<small>Created: <span class="js_moment"
														title="{{post.createdAt | date: 'yyyy-MM-dd HH:mm:ss'}}">{{post.createdAt | date: 'yyyy-MM-dd'}}</span>
												</small>
											</div>
											<div class="mb5">
												<i class="fa ft-heart" title="Like"></i>
												<span>{{post.likes}}</span>
												<span *ngIf="post.status=='active'" class="badge badge-pill badge-success"
													style="cursor: pointer; margin-left: 15px;"
													(click)="onUpdatePostStatus('active')">Online</span>
												<span *ngIf="post.status!='active'" class="badge badge-pill badge-danger"
													style="cursor: pointer; margin-left: 15px;"
													(click)="onUpdatePostStatus('inactive')">Offline</span>
											</div>
											<div class="mb5">
												<i class="fa ft-message-square" title="Comment"></i> {{post.comments}}
												<span class="badge badge-pill badge-secondary" style="cursor: pointer;"
													(click)="onViewComment(post)">View Comment</span>
											</div>
										</div>
										<div class="col-md-10">
											<div class="form-group">
												<p class="mb-0">{{post.content}}</p>
											</div>
										</div>
									</div>
									<!-- comment -->
									<div *ngIf="post.viewComment" style="border-top: 1px solid #d3dce9;">
										<div *ngFor="let comment of post.commentData" class="row" style="margin-top: 15px;">
											<div class="col-md-1">
											</div>
											<div class="col-md-2" style="text-align: center;">
												<a href="javascript:;">
													<img _ngcontent-c7="" alt="user" class="rounded-circle"
														src="{{comment.createdBy.profile_image.media_url}}" width="50">
												</a>
												<h6 class="mt10"> <a href="javascript:;">{{comment.createdBy.display_name}}</a> </h6>
												<div>
													<small>Created: <span class="js_moment"
															title="{{comment.createdAt | date: 'yyyy-MM-dd HH:mm:ss'}}">{{comment.createdAt | date: 'yyyy-MM-dd'}}</span>
													</small>
												</div>
												<div class="mb5">
													<i class="fa ft-heart" title="Like"></i>
													<span>{{comment.likes}}</span>
													<span *ngIf="comment.status=='active'" class="badge badge-pill badge-success"
														style="cursor: pointer; margin-left: 15px;"
														(click)="onUpdatePostCommentStatus('active')">Online</span>
													<span *ngIf="comment.status!='active'" class="badge badge-pill badge-danger"
														style="cursor: pointer; margin-left: 15px;"
														(click)="onUpdatePostCommentStatus('inactive')">Offline</span>
												</div>
											</div>
											<div class="col-md-9">
												<div class="form-group">
													<p class="mb-0">{{comment.content}}</p>
												</div>
											</div>
										</div>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-sm-1"> </div>
	</div>
</section>