<section id="basic-form-layouts">
	<div class="row text-left">
		<div class="col-sm-12">
			<div class="content-header">Threads Detail</div>
		</div>
	</div>
</section>
<section>
	<div class="row">
		<div class="col-sm-1"> </div>
		<div class="col-sm-10">
			<div class="card">
				<div class="card-header">
					<p class="mb-0">Technology / Technology Market / What is the technology market?</p>
				</div>
				<div class="card-body">
					<div class="card-block">
						<div class="row">
							<div class="col-lg-12 col-md-12">
								<div class="card-body">
									<div class="px-3">
										<form class="form" #f="ngForm">
											<div class="form-body">
												<h4 class="form-section"><i class="ft-file-text"></i> Thread Content</h4>
												<div class="row">
													<div class="col-md-2" style="text-align: center;">
														<a href="javascript:;">
															<img _ngcontent-c7="" alt="user" class="rounded-circle"
																src="/assets/img/portrait/medium/avatar-m-10.png" width="80">
														</a>
														<h6 class="mt10"> <a href="javascript:;">Defiant America</a> </h6>
														<div class="mb5"> <i class="fa fa-user"></i> Member</div>
														<div> <small>Joined: <span class="js_moment" data-time="2019-08-06 10:28:29"
																	title="Tuesday, August 6, 2019 6:28 pm">3 months ago</span></small> </div>
													</div>
													<div class="col-md-10">
														<div class="form-group">
															<p class="mb-0">Liberals will always be crying babies because they can't accept reality.
																They are stuck in a fantasy world where they believe everything is about feelings and
																disregard the laws of physics.
																They are a sorry lot!
															</p>
															<p>
																<img src="https://i.imgur.com/pTDqyoU.jpg"
																	alt="Liberal will always be crying babies becasue they can't accept reality."
																	width="480" height="638" />
															</p>
														</div>
													</div>
												</div>
											</div>
											<div class="form-actions right">
												<button type="button" class="btn btn-raised btn-primary" (click)="onBack()">
													<i class="fa fa-check-square-o"></i> Back to Threads
												</button>
											</div>
										</form>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="card">
				<div class="card-body">
					<div class="card-block">
						<div class="px-3">
							<form class="form" #f="ngForm">
								<div class="form-body">
									<h4 class="form-section"><i class="ft-file-text"></i> Reply Content</h4>
									<div class="row">
										<div class="col-md-2" style="text-align: center;">
											<a href="javascript:;">
												<img _ngcontent-c7="" alt="user" class="rounded-circle"
													src="/assets/img/portrait/medium/avatar-m-7.png" width="80">
											</a>
											<h6 class="mt10"> <a href="javascript:;">Cliff Clarke</a> </h6>
											<div class="mb5"> <i class="fa fa-user"></i> Member</div>
											<div> <small>Joined: <span class="js_moment" data-time="2019-08-07 22:36:45"
														title="Tuesday, August 6, 2019 6:28 pm">3 months ago</span></small> </div>
										</div>
										<div class="col-md-10">
											<div class="form-group">
												<p class="mb-0">You are absolutely right.🤣🤣</p>
											</div>
										</div>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
			<div class="card">
				<div class="card-body">
					<div class="card-block">
						<div class="px-3">
							<form class="form" #f="ngForm">
								<div class="form-body">
									<h4 class="form-section"><i class="ft-file-text"></i> Reply Content</h4>
									<div class="row">
										<div class="col-md-2" style="text-align: center;">
											<a href="javascript:;">
												<img _ngcontent-c7="" alt="user" class="rounded-circle"
													src="/assets/img/portrait/medium/avatar-m-5.png" width="80">
											</a>
											<h6 class="mt10"> <a href="javascript:;">Siboy Siboy</a> </h6>
											<div class="mb5"> <i class="fa fa-user"></i> Member</div>
											<div> <small>Joined: <span class="js_moment" data-time="2019-08-07 22:36:45"
														title="Tuesday, August 6, 2019 6:28 pm">3 months ago</span></small> </div>
										</div>
										<div class="col-md-10">
											<div class="form-group">
												<p class="mb-0">shit...</p>
											</div>
										</div>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-sm-1"> </div>
	</div>
</section>