<section id="basic-form-layouts">
  <div class="row text-left">
    <div class="col-sm-12">
      <div class="content-header">Report Management</div>
    </div>
  </div>
</section>
<div class="row">
  <div class="col-sm-12">
    <div class="card">
      <div class="card-header ">
        <div class="card-header-button">
          <input type="text" style="padding:6px;width:30%;" placeholder="Type to filter the Name ..."
            (keyup)="updateFilter($event)" />
        </div>
      </div>
      <div class="card-body">
        <div class="card-block">
          <ngx-datatable class="material" [columns]="columns" [columnMode]="'force'" [headerHeight]="50"
            [rowHeight]="60" [footerHeight]="50" [limit]="10" [rows]="rows" [scrollbarV]="true">
            <ngx-datatable-column name="ID">
              <ng-template let-rowIndex="rowIndex" let-row="row" ngx-datatable-cell-template>
                {{rowIndex + 1}}
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Node">
              <ng-template let-rowIndex="rowIndex" let-value="value" ngx-datatable-cell-template>
                <a *ngIf="value" href="https://google.com/" target="_blank">{{value}}</a>
                <a *ngIf="!value" class="btn btn-flat btn-light" href="https://google.com/" target="_blank">
                  <i class="fa fa-eye mr5"></i> View {{rows[rowIndex].type}}</a>
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Type">
              <ng-template let-rowIndex="rowIndex" let-value="value" ngx-datatable-cell-template>
                <span *ngIf="value=='User'" class="badge badge-lg badge-success">{{value}}</span>
                <span *ngIf="value=='Post'" class="badge badge-lg badge-danger">{{value}}</span>
                <span *ngIf="value=='Thread'" class="badge badge-lg badge-primary">{{value}}</span>
                <span *ngIf="value=='News'" class="badge badge-lg badge-secondary">{{value}}</span>
                <span *ngIf="value=='Comment'" class="badge badge-lg badge-info">{{value}}</span>
                <span *ngIf="value=='Reply'" class="badge badge-lg badge-warning">{{value}}</span>
                <span *ngIf="value=='Message'" class="badge badge-lg badge-dark">{{value}}</span>
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="ReportedBy">
            </ngx-datatable-column>
            <ngx-datatable-column name="ReportedCount"></ngx-datatable-column>
            <ngx-datatable-column name="Time"></ngx-datatable-column>
            <ngx-datatable-column name="Actions" [width]="300">
              <ng-template let-rowIndex="rowIndex" let-value="value" ngx-datatable-cell-template>
                <!-- Modal template -->
                <ng-template #content let-c="close" let-d="dismiss">
                  <div class="modal-header">
                    <h4 class="modal-title">Modal title</h4>
                    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <p>This is report content</p>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary btn-raised" (click)="c('Close click')">Close</button>
                  </div>
                </ng-template>
                <button type="button" class="btn btn-outline-primary btn-round"
                  (click)="onViewReport(rowIndex, content)">View Report</button>
                <button type="button" class="btn btn-outline-success btn-round" style="margin-left: 10px;"
                  (click)="onMarkSafe(rowIndex)">Mark as Safe</button>
                <button type="button" class="btn btn-outline-danger btn-round" style="margin-left: 10px;"
                  (click)="onDelete(rowIndex)">Delete</button>
              </ng-template>
            </ngx-datatable-column>
          </ngx-datatable>
        </div>
      </div>
    </div>
  </div>
</div>